.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    flex: 1;
    width: 100%;
    border: 0 solid #DCDCDC;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}

.posts-container {
    flex: 9;
    width: 100%;
    background: #e7e4e4;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}